@model Sudoku.Models.SudokuBoardViewModel

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="~/css/sudoku.css" />
        <title>Sudoku Board</title>
    </head>
    <body>
        <div class="container mt-5">
            <div class="boards-container">
                <!-- Puzzle Board -->
                <div class="board">
                    <table>
                        @for (int i = 0; i < 9; i++)
                        {
                            <tr>
                                @for (int j = 0; j < 9; j++)
                                {
                                    <td data-row="@i" data-col="@j">
                                        @if(Model.Puzzle[i, j] != 0)
                                        {
                                            <!-- Fixed sub-grid value -->
                                            <span class="fixed-cell">@Model.Puzzle[i, j]</span>
                                        }
                                        else
                                        {
                                            <input type="text" maxlength="1" size="1" class="sudoku-input" data-row="@i" data-col="@j" style="text-align: center;" />
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </div>
                <!-- Solution Board Table; hidden by default -->
                <div class="solution-board" id="solutionDiv">
                    <table>
                        @for (int i = 0; i < 9; i++)
                        {
                            <tr>
                                @for (int j = 0; j < 9; j++)
                                {
                                    <td>@Model.Solution[i, j]</td>
                                }
                            </tr>
                        }
                    </table>
                </div> 
            </div>
            <!-- Buttons -->
            <div class="mt-3">
                <button type="button" class="btn-custom"
                        onclick="window.location.href='@Url.Action("Index", "Sudoku")'">
                    Generate Another Puzzle
                </button>
                <button type="button" id="toggleSolutionBtn" class="btn-custom">
                    Show Solution
                </button>
            </div>
            <!-- Congratulations message container, hidden by default -->
            <div id="congratsMessage" class="alert alert-success mt-3" style="display: none;">
                Congratulations, you have solved it!
            </div>
            <div id="solutionData" data-solution='@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.JaggedSolution))' style="display:none;"></div>
        </div>
        <script src="~/js/sudoku.js"></script>
    </body>
</html>
